@mixin transition($element) {
  -webkit-transition: $element 0.2s ease-in-out;
  -moz-transition: $element 0.2s ease-in-out;
  -ms-transition: $element 0.2s ease-in-out;
  -o-transition: $element 0.2s ease-in-out;
  transition: $element 0.2s ease-in-out;
}

$pc: 1150px;
$tablet: 992px;
$phone: 768px;

@mixin responsive($media) {
  @if $media == phone {
    @media (max-width: $phone) {
      @content;
    }
  } @else if $media == tablet {
    @media (max-width: $tablet) {
      @content;
    }
  } @else if $media == pc {
    @media (max-width: $pc) {
      @content;
    }
  }
}
