@import "../../scss/main.scss";

.Card {
  padding-bottom: 16px;
  padding-top: 16px;
  border-bottom: solid 1px $white;

  .Wrapper {
    display: flex;
    @include responsive(phone) {
      flex-direction: column;
      align-items: center;
    }

    .Image img {
      width: 180px;
      height: 180px;
      border-radius: 4px;
      object-fit: contain;
      margin-right: 16px;
    }

    .Content {
      padding-top: 16px;
      .Price {
        font-size: 24px;
      }

      .Title {
        font-size: 18px;
        font-weight: 200;
        margin-bottom: 0px;
        margin-top: 16px;
      }

      .Icon {
        margin-left: 0.5em;
      }
    }
  }
}
