@import "../../scss/main.scss";

.ErrorNetwork {
  background-color: map-get($white-colors, normal);
  flex-direction: column;
  @extend .NotFound;

  p {
    margin: 5px 0;
  }
  b {
    margin-bottom: 15px;
  }
}
